@import url("https://fonts.googleapis.com/css2?family=Arima:wght@300;400;500;600;700&family=Nunito:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgba(255, 175, 189, 0.1) !important;
}

body::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0.1);
}

body::-webkit-scrollbar-thumb {
  background-color: pink;
  border-radius: 25px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Arima", cursive;
  font-family: "Nunito", sans-serif;
}

.logo-title {
  text-transform: uppercase;
  background: linear-gradient(
    90deg,
    rgba(255, 175, 189, 1) 57%,
    rgba(255, 195, 160, 1) 100%
  );
  background-clip: text;
  color: transparent;
}

.cart__container:hover .cart__item {
  animation: cart 1s linear infinite;
}

.cart__container:hover ~ .cart__title {
  animation: cart-title 0.5s linear;
}

@keyframes cart {
  0% {
    translate: -50px;
  }
  100% {
    translate: 50px;
  }
}

@keyframes cart-title {
  from {
    right: -192px;
  }
  to {
    right: 0;
  }
}
