@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.cart__container:hover .cart__item {
  animation: cart 1s linear infinite;
}

.cart__container:hover ~ .cart__title {
  animation: cart-title 0.5s linear;
  right: 0;
}

.cart__title {
  right: -192px;
}

@keyframes cart {
  0% {
    translate: -50px;
  }
  100% {
    translate: 50px;
  }
}

@keyframes cart-title {
  from {
    right: -192px;
  }
  to {
    right: 0;
  }
}
